* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'DM Serif Display', serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  header {
    background-color: #10882a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo h1.titulo-cinema {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #000;
  }
  
  .titulo-filmes {
    font-size: 2rem;
    margin: 40px 0 20px;
    text-align: center;
  }
  
  .filmes-wrapper {
    max-width: 1580px;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0 40px;
  }
  
  .filmes-container {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
  }
  
  .filme {
    min-width: 300px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
    transition: transform 0.3s;
  }
  
  .filme:hover {
    transform: scale(1.05);
  }
  
  .filme img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  
  .filme button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #10882a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filme button:hover {
    background-color: #10882a;
  }
  
  /* Setas */
  .setas-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }
  
  .seta {
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    pointer-events: auto;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .seta:hover {
    color: #10882a;
  }
  
  /* Footer */
  footer {
    background-color: #10882a;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
  }
  
